@define-mixin small-mobile {
  @media (max-height: 600px)  {
    @mixin-content ;
  }
}
@define-mixin mobile-landscape {
  @media (max-height: 500px)  {
    @mixin-content ;
  }
}
@define-mixin tablet-portrait-up {
  @media (min-width: 600px) {
    @mixin-content ;
  }
}
@define-mixin tablet-landscape-up{
  @media (min-width: 900px) {
    @mixin-content ;
  }
}
@define-mixin desktop-up{
  @media (min-width: 1200px) {
    @mixin-content ;
  }
}
@define-mixin large-desktop-up{
  @media (min-width: 1800px) {
    @mixin-content ;
  }
}

@define-mixin clearfix {
  &:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
  }
  * html .clearfix             { zoom: 1; } /* IE6 */
  *:first-child+html .clearfix { zoom: 1; }/* IE7 */
}
