#contact-us h1{
  @mixin tablet-landscape-up{
    margin-top: 0;
  }
}

.address{
  margin-left: 16.666%;
  @mixin tablet-portrait-up {
    margin-left: 8.333%;
  }

  &:before {
    content: "Address";
    top: 50%;
    left: -50px;
    font-size: 2rem;
    position: absolute;
    transform: translate(-50%, -50%) rotate(-90deg);;
  }
}

address {
  padding: 15px;
  border-left: 5px solid yellow;
}
