footer {
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -999;
  position: fixed;
  &.footer--dark {
    padding-top: 3rem;
    padding-bottom: 0;
    background-color: #292825;
  }
  & [class^=row__] {
    margin-bottom: 0.8em;
    float: left;
    @mixin tablet-portrait-up {
      margin-bottom: 35px;
    }
  }
}

.bottom-footer {
  margin-top: 16px;
  color: #fff;
  text-align: center;
  background-color: #161616;
  @mixin tablet-portrait-up {
    margin-top: 30px;
  }
}

.widget {
  &:last-child {
    margin-bottom: 0;
  }
  &-title {
    color: #fff;
    margin: 15px 0;
    @mixin tablet-portrait-up {
      margin: 0 0 20px;
    }
    & h5 {
      font-size: 23px;
      line-height: 32px;
      font-family: 'Poppins';
    }
  }
  & ul {
    list-style-type: none;
    & li {
      padding-left: 20px;
      position: relative;
      line-height: 25px;
      @mixin tablet-portrait-up {
        line-height: 38px;
      }
      &:hover:before {
        color: $mainRed;
      }
      &:before {
        left: 0;
        position: absolute;
        color: rgb(140, 151, 158);
        line-height: 25px;
        @mixin tablet-portrait-up {
          line-height: 38px;
        }
      }
      & a {
        color: $textDark;
        display: block;
        transition: all .3s;
        &:hover {
          color: #6a4d8a;
        }
      }
    }
  }
  & h5, & ul {
    margin: 0;
    padding: 0;
  }
}

.footer-hours {
  background: #1b1b20;
  border: 1px dashed #da3038;
  padding: 20px 35px;
}

.footer-hours div {
  color: $textDark;
  line-height: 1.5;
}

.footer-hours span {
  color: #ffffff;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  @mixin tablet-portrait-up {
    line-height: 2;
  }
}
