.heading {
  display: inline-block;
  padding-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Poppins';
  border-top: 5px solid $mainRed;

  @mixin tablet-landscape-up {
    font-size: 2.815rem;
  }

  @mixin desktop-up {
    padding-top: 3rem;
  }

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  &--center {
    border: 0;
    padding: 0;
    margin-bottom: 30px;
    border-bottom: 5px solid $mainRed;
    text-shadow: 1px 1px 1px #000;
  }
}
