.large-hero{
  height: 40vh;
  position: relative;
  background-attachment: fixed;
  background-color: #fff;
  background-image: url(https://www.transparenttextures.com/patterns/skulls.png);

  @mixin tablet-landscape-up {
    height: 65vh;
  }

  &__text-content {
    top: 50%;
    left: 50%;
    width: 70%;
    position: absolute;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    transform: translate(-50%,-50%);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

    @mixin tablet-portrait-up{
      width: auto;
    }
    &.fadeInDown {
      animation-duration: 2s;
      animation-fill-mode: both;
      animation-delay: .8s;
      animation-name: fadeInDown--hero;
    }

  }

  &__title{
    margin: 1rem 0;
    font-size: 2.5rem;
    color: $mainBlue;
    text-shadow: 1px 3px #ccc;
    font-family: 'Open Sans', sans-serif;
    @mixin tablet-portrait-up {
      font-size: 5rem;
    }
  }

  &__subtitle{
    margin: 0;
    color: #fff;
    font-size: 1.5rem;
    font-family: fantasy;
    padding: 0.5rem;
    background: rgba(255,0,0,0.9);

    @mixin tablet-portrait-up {
      font-size: 2.5rem;
    }
  }
}

@keyframes fadeInDown--hero {
  0% {
    opacity: 0;
    transform: translate3d(-50%,-100%,0);
  }

  100% {
    opacity: 1;
    transform: translate(-50%,-50%);
  }
}
