.page-section {
  padding: 2.25rem 0;
  background-color: #fff;
  @mixin tablet-portrait-up {
    padding: 4.5rem 0;
  }

  &--dark {
    background-color: $darkGrey;
  }
  &.why-us {
    &.lazyloaded{
      background-image: url(../../assets/images/printing.jpg);
    }
  }
  &.partners {
    &.lazyloaded{
      background-image: url(../../assets/images/partners.jpg);
    }
  }
}
