.page-section {
  padding: 4.5rem 0;
  background-color: #fff;

  &--dark {
    background-color: $darkGrey;
  }

  &.why-us {
    &.lazyloaded{
      background-image: url(../../assets/images/printing.jpg);
    }
  }
  &.services {
    .paragraph {
      left-padding : 20px;
    }
  }
  &.partners {
    &.lazyloaded{
      background-image: url(../../assets/images/partners.jpg);
    }
  }
}
