.product {
  &:not(:last-child){
    border-bottom: 1px solid $mainRed;
    margin-bottom: 2em;
  }
  h2 {
    font-size: 1em;
    @mixin tablet-portrait-up {
      font-size: 1.5em;
    }
    padding-left: 10px;
    border-left: 5px solid $mainRed;
  }
  :not(:first-child) {
    margin-bottom: 2em;
  }
}
