.tab {
  @mixin clearfix;
  padding-top: .5em;
  border-bottom: 2px outset #f42837;
  @mixin tablet-portrait-up {
    padding-left: 1em;
  }
  @mixin tablet-landscape-up {
    padding-left: 1.5em;
  }
  &__links {
    float: left;
    padding: 14px 8px;
    margin-bottom: -2.55px;
    font-weight: 700;
    font-size: 11.2px;
    margin-right: 1px;
    font-family: 'Poppins';
    border-color: #ccc;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    outline: none;
    cursor: pointer;
    background-color: #eee;
    transition: transform 0.3s;
    @mixin tablet-portrait-up {
      font-size: 1rem;
      padding: 14px 16px;
      margin: 0 2px -2.55px 0;
    }
    &:hover {
      background-color: #ddd;
    }
    &.active {
      background-color: #fff;
      border-color: $mainRed;
      border-bottom-color: transparent;
      border-bottom-style: solid;
      transform: scale(1, 1.1);
      transform-origin: bottom;
      &:hover {
        background-color: #fff;
      }
    }
  }
  &__content {
    padding: 1rem 0;
    display: none;
    .row--gutters {
      margin-right: -20px;
    }
    .row--gutters>div {
      padding-right: 20px;
    }
    @mixin tablet-portrait-up {
      padding: 2rem 0;
    }
    @mixin tablet-landscape-up {
      padding: 3rem 1rem;
    }
    @mixin desktop-up {
      .row--gutters {
        margin-right: -50px;
      }
      .row--gutters>div {
        padding-right: 50px;
      }
    }
    &-v {
      padding: 0 .7rem;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      @mixin tablet-portrait-up {
        padding: 0 1rem;
      }
      &:not(:first-child) {
        display: none;
      }
    }
  }
}

.sidebar {
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  @mixin tablet-portrait-up {
    padding: 10px;
  }
}

.module-title {
  margin: 0;
  padding: 5px;
  position: relative;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 0;
  font-family: 'Poppins';
  border-radius: 5px;
  background: #f1f1f1;
  text-transform: capitalize;
  @mixin tablet-portrait-up {
    padding: 10px;
    font-size: 2em;
    padding: 0;
    margin: 0 0 50px 0;
    background: none;
  }
  @mixin tablet-landscape-up {
    font-size: 2.815em;
  }
  &:before, &:after {
    content: none;
    @mixin tablet-portrait-up {
      left: 0;
      top: 47px;
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      background: #ededed;
    }
    @mixin tablet-landscape-up {
      top: 65px;
    }
  }
  &:after {
    @mixin tablet-portrait-up {
      content: "";
      width: 30%;
      background: $mainRed;
    }
  }
  span:after {
    float: right;
    line-height: 25px;
    font-size: 16px;
    @mixin tablet-portrait-up {
      content: none;
    }
  }
}

.category {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out, margin 0.4s ease-out;
  @mixin tablet-portrait-up {
    max-height: none;
    overflow: auto;
    transition-property: none;
  }
  .icon-chevron-right:before {
    @mixin tablet-landscape-up {
      vertical-align: baseline;
    }
  }
  &--list {
    cursor: pointer;
    padding: 15px 0;
    margin-bottom: 0;
    padding-left: 25px;
    text-indent: -0.6em;
    border-style: solid;
    border-width: 1px 0;
    border-color: #ededed;
    @mixin tablet-landscape-up {
      line-height: 1.5;
      margin-bottom: 10px;
    }
    &:last-child {
      border-bottom-color: transparent;
      @mixin tablet-portrait-up {
        border-bottom-color: #ededed;
      }
    }
    &:hover, &.active {
      background-color: #f1f1f1;
    }
    &.active {
      border-bottom-color: $mainRed;
    }
  }
}

.products-page {
  overflow: hidden;
  padding: 2.25rem 0;
}

.product {
  overflow: auto;
  &:not(:last-child) {
    border-bottom: 2px solid $mainRed;
    margin-bottom: 2em;
  }
  *:not(:first-child) {
    margin-bottom: 2em;
  }
  h2 {
    font-size: 1em;
    padding-left: 10px;
    min-height: 54px;
    line-height: 1.9;
    border-left: 5px solid $mainRed;
    @mixin tablet-portrait-up {
      font-size: 1.5em;
    }
    span {
      display: inline-block;
      vertical-align: middle;
      line-height: 1.15;
    }
  }
}
