/* Style the tab */

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  &__links {
    &:hover {
      background-color: #ddd;
    }
    &.active {
      background-color: #ccc;
      border-color: $mainRed;
    }
    float: left;
    width: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-weight: 700;
    font-size: 1.815rem;
    font-family: 'Poppins';
    background-color: inherit;
    border-bottom: 5px solid #f1f1f1;
    @mixin tablet-landscape-up {
      font-size: 2.815rem;
    }
  }
  &__content {
    padding: 1rem;
    display: none;
    border: 1px solid #ccc;
    border-top: none;
    @mixin tablet-portrait-up {
      padding: 2rem;
    }
    @mixin tablet-landscape-up {
      padding: 3rem;
    }
    &-v {
      &:first-child {
        display: block;
      }
      display: none;
      padding: 1rem;
      border: 1px solid #ccc;
      ;
    }
  }
}

.module-title {
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Poppins';
  position: relative;
  text-transform: capitalize;
  margin: 0;
  padding: 5px;
  letter-spacing: 0;
  background: #f1f1f1;
  @mixin tablet-portrait-up {
    padding: 0;
    margin: 0 0 50px 0;
    background: none;
  }
  @mixin tablet-landscape-up {
    font-size: 2.815rem;
  }
  &:before {
    content: none;
    @mixin tablet-portrait-up {
      left: 0;
      top: 75px;
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background: #ededed;
    }
  }
  &:after {
    content: none;
    @mixin tablet-portrait-up {
      content: "";
      position: absolute;
      top: 75px;
      left: 0;
      width: 80px;
      height: 1px;
      background: $mainRed;
    }
  }
  span:after {
    float: right;
    line-height: 40px;
    font-size: 16px;
    @mixin tablet-portrait-up {
      content: none;
    }
  }
}

.category {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out, margin 0.4s ease-out;
  @mixin tablet-portrait-up {
    max-height: none;
    overflow: auto;
    transition-property: none;
  }
  &--list {
    &:hover {
      background-color: #f1f1f1;
    }
    &.active {
      border-color: $mainRed;
      background-color: #f1f1f1;
    }
    cursor: pointer;
    padding: 15px 0;
    margin-bottom: 10px;
    padding-left: 19px;
    text-indent: -0.6em;
    border-bottom: 1px solid #ededed;
  }
}
