.row {
  @mixin clearfix;

  &--gutters {
    margin-right: -65px;
  }

  &--gutters > div {
    padding-right: 65px;
    margin-bottom: 35px;
  }

  @mixin tablet-portrait-up {
    &__3 {
      float: left;
      width: 25%;
    }

    &__9 {
      float: left;
      width: 75%;
    }
  }
}
