/* @mixin small-mobile { */
  .widget-title{
    margin: 10px 0;
  }
  .footer-hours {
    @mixin clearfix;
    padding: 18px;
    div, >span {
      line-height: 1.5;
      font-size: 14px;
      float: left;
      width: 50%;
    }
    div, span {
      @mixin tablet-landscape-up {
        line-height: 2;
      }
    }

    div:nth-child(2n+3):not(:last-child){
      text-align: right;
    }
    div:first-child, div:last-child {
      width: 100%;
      text-align: center;
    }
  }
  .bottom-footer {
    margin-top: 1em;
    @mixin tablet-landscape-up {
      margin-top: 2.5em;
    }
  }
/* } */
