.paragraph, .introduction--text {
  margin: 0;
  margin-top: -6px;
  text-align: justify;
  line-height: 1.5;
  font-size: 1rem;
  @mixin tablet-portrait-up {
    font-size: 1.125rem;
  }
}

.introduction--text {
  margin: 0;
  margin-bottom: 60px;
  &--justify {
    margin: 0;
    text-align: justify;
  }
  @mixin tablet-landscape-up {
    &--underline {
      line-height: 2.3;
      font-size: 1.25rem;
      border-bottom: 1px solid #ddd;
      padding-bottom: 10px;
      text-align: justify;
    }
  }
}

.text {
  &--red {
    color: $mainRed;
  }
  &--white {
    color: #fff;
  }
  &--shadow {
    text-shadow: 1px 1px 1px #000;
  }
  &--center {
    text-align: center;
  }
  &--left {
    text-align: left;
    .paragraph& {
      text-shadow: 1px 1px 1px #000;
    }
  }
  &--right {
    text-align: right;
    .paragraph& {
      text-shadow: 1px 1px 1px #000;
    }
  }
}

br {
  &.mobile--visible {
    display: block;
  }
  &.mobile--hidden {
    display: none;
  }
  &.tablet--visible {
    @mixin tablet-portrait-up {
      display: block;
    }
  }
  &.tablet--hidden {
    @mixin tablet-portrait-up {
      display: none;
    }
  }
  &.laptop--visible {
    @mixin tablet-landscape-up {
      display: block;
    }
  }
  &.laptop--hidden {
    @mixin tablet-landscape-up {
      display: none;
    }
  }
}
