.container {
  padding: 0 15px;
  overflow: hidden;
  
  @mixin tablet-portrait-up {
    max-width: 720px;
    margin: 0 auto;
  }
  @mixin tablet-landscape-up {
    max-width: 960px;
    margin: 0 auto;
  }
  @mixin desktop-up {
    max-width: 1140px;
    margin: 0 auto;
  }
}
