.container {
  padding: 0 18px;
  box-sizing: border-box;
  
  @mixin tablet-portrait-up {
    max-width: 720px;
    margin: 0 auto;
  }
  @mixin tablet-landscape-up {
    max-width: 960px;
    margin: 0 auto;
  }
  @mixin desktop-up {
    max-width: 1140px;
    margin: 0 auto;
  }
}
